

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    -webkit-tap-highlight-color: transparent;
    outline:0;
}
.modal{
    position: absolute;
    top: 26%;
    left: 42%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    border-radius: 15px;
    border-color: rgba(223,225,229,0);
    box-shadow: 0 1px 10px rgb(32 33 36 / 28%);
    z-index: 10;
    background-color: #fff;
    width: 210px;
}
#modal2{
    top: 26%;
    left: 68%;
}
#modal3{
    top: 45%;
    left: 42%;
}
#modal4{
    top: 45%;
    left: 68%;
}
#modal5{
    top: 64%;
    left: 42%;
}
#modal6{
    top: 64%;
    left: 68%;
}
#modal7{
    top: 83%;
    left: 42%;
}
#modal8{
    top: 83%;
    left: 68%;
}
#modal9{
    top: 101%;
    left: 42%;
}
#modal10{
    top: 103%;
    left: 68%;
}
#modal11{
    top: 119%;
    left: 42%;
}
#modal12{
    top: 120%;
    left: 68%;
}
#modal13{
    top: 137%;
    left: 42%;
}
#modal14{
    top: 137%;
    left: 68%;
}
#modal15{
    top: 155%;
    left: 42%;
}

.modal.active{
    transform: translate(-50%, -50%) scale(1);
}

.modal-header{
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}

.modal-header .title{
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-header .close-button{
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
}

.modal-body{
    padding: 10px 15px;
}

#overlay.active{
    opacity: 1;
    pointer-events: all;
}

header h2{
    font-family:monospace;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    font-size: 30px;
}
section{
    display: flex;
    height: 160vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.container{
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 15px;
    border-color: rgba(223,225,229,0);
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
}
.container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.container .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: gray;
}

.container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

form .user-details .input-box{
    margin: 20px 0 12px 0;
    width: calc(100% / 2 - 20px);
}
.user-details .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
.details{
    font-family: monospace;
    font-size: 14px;
}

.user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 15px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.200s ease;
    border-color: rgba(223,225,229,0);
}
.user-details .input-box > .botons{
    position: relative;
    width: 26%;
    outline: none;
    border-radius: 15px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.200s ease;
    border-color: rgba(223,225,229,0);
    cursor: pointer;
    height: 20px;
    font-family: monospace;
    font-size: inherit;
    text-align: left;
}
.user-details .input-box > .botons:hover{
    border-color: rgba(223,225,229,0);
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
}

.user-details .input-box input:focus{
    border-color: rgba(223,225,229,0);
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
}
.user-details .input-box input:hover{
    border-color: rgba(223,225,229,0);
    box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
}

@media screen and (max-width: 375px){
    section{
        display: flex;
        height: 290vh;
        justify-content: center;
        align-items: center;
        padding: 10px;
    }
    .user-details .input-box > .botons{
        width: 63%;
    }
    header h2{
        padding-left: 27px;
    }
    .container form .user-details {
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        flex-direction: column;
        align-content: center;
        align-items: center;
    }
    form .user-details .input-box {
        margin: 20px 0 12px 0;
        width: calc(100% / 2 - -156px);
    }
    .modal{
        top: 38%;
        left: 66%;
    }
    #modal2 {
        top: 54%;
        left: 68%;
    }
    #modal3 {
        top: 73%;
        left: 67%;
    }
    #modal4 {
        top: 91%;
        left: 68%;
    }
    #modal5 {
        top: 113%;
        left: 67%;
    }
    #modal6 {
        top: 129%;
        left: 66%;
    }
    #modal7 {
        top: 145%;
        left: 66%;
    }
    #modal8 {
        top: 166%;
        left: 65%;
    }
    #modal9 {
        top: 182%;
        left: 65%;
    }
    #modal10 {
        top: 200%;
        left: 65%;
    }
    #modal11 {
        top: 219%;
        left: 65%;
    }
    #modal12 {
        top: 237%;
        left: 65%;
    }
    #modal13 {
        top: 253%;
        left: 65%;
    }
    #modal14 {
        top: 270%;
        left: 65%;
    }
    #modal15 {
        top: 289%;
        left: 65%;
    }
}